<section class="flex flex-col items-center dark:bg-slate-700">
  <div class="flex pb-3 mt-5">
    <h1 class="text-purple-600 font-bold text-5xl pr-5 dark:text-purple-600">
      TaskMaster
    </h1>
    <h2 class="font-bold text-5xl text-center dark:text-white">
      - Total control of your tasks
    </h2>
  </div>
  <p class="text-slate-800 text-xl dark:text-white font-thin">
    Organize, shere ande supervise your tasks in one place.
  </p>
  <p class="text-slate-800 text-xl dark:text-white font-thin">
    Collaboration efficient for equipment and people.
  </p>

  <div class="flex gap-5 pt-10">
    <button
      [routerLink]="['/addTask']"
      class="bg-purple-600 text-white font-semibold w-40 h-9 rounded-md flex gap-2 justify-center items-center hover:bg-purple-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-list-task"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"
        />
        <path
          d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"
        />
        <path
          fill-rule="evenodd"
          d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"
        />
      </svg>
      Go to Tasks
    </button>
    <button
      [routerLink]="['/dashboard']"
      class="bg-blue-600 text-white font-semibold w-40 h-9 rounded-md flex gap-2 justify-center items-center hover:bg-blue-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-list-task"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"
        />
        <path
          d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"
        />
        <path
          fill-rule="evenodd"
          d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"
        />
      </svg>
      See Dashboard
    </button>
  </div>

  <h3 class="font-bold text-3xl pt-16 dark:text-white">
    How does our system work?
  </h3>
</section>
