<section class="flex justify-center gap-10 pt-10 pb-22 dark:bg-slate-700">
  <div
    class="bg-slate-100 dark:bg-slate-600 shadow-md rounded-lg h-45 w-80 flex flex-col justify-center items-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#0703fc"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-pencil-ruler-icon lucide-pencil-ruler dark:stroke-blue-500"
    >
      <path
        d="M13 7 8.7 2.7a2.41 2.41 0 0 0-3.4 0L2.7 5.3a2.41 2.41 0 0 0 0 3.4L7 13"
      />
      <path d="m8 6 2-2" />
      <path d="m18 16 2-2" />
      <path
        d="m17 11 4.3 4.3c.94.94.94 2.46 0 3.4l-2.6 2.6c-.94.94-2.46.94-3.4 0L11 17"
      />
      <path
        d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
      />
      <path d="m15 5 4 4" />
    </svg>
    <h3 class="font-semibold p-4 font-sans text-slate-900 dark:text-white">
      Intuitive creation
    </h3>
    <p
      class="font-sans text-slate-900 px-5 text-center dark:text-white font-thin"
    >
      Create tasks in seconds with allocation, priority and limit dates.
    </p>
  </div>
  <div
    class="bg-slate-100 dark:bg-slate-600 shadow-md rounded-lg h-45 w-80 flex flex-col justify-center items-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#0703fc"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-users-icon lucide-users dark:stroke-blue-500"
    >
      <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
      <path d="M16 3.128a4 4 0 0 1 0 7.744" />
      <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
      <circle cx="9" cy="7" r="4" />
    </svg>
    <h3 class="font-semibold p-4 font-sans text-slate-900 dark:text-white">
      Team collaboration
    </h3>
    <p
      class="font-sans text-slate-900 px-5 text-center dark:text-white font-thin"
    >
      Share tasks, assign responsabilities and work together.
    </p>
  </div>
  <div
    class="bg-slate-100 dark:bg-slate-600 shadow-md rounded-lg h-45 w-80 flex flex-col justify-center items-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#0703fc"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-binoculars-icon lucide-binoculars dark:stroke-blue-500"
    >
      <path d="M10 10h4" />
      <path d="M19 7V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v3" />
      <path
        d="M20 21a2 2 0 0 0 2-2v-3.851c0-1.39-2-2.962-2-4.829V8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v11a2 2 0 0 0 2 2z"
      />
      <path d="M 22 16 L 2 16" />
      <path
        d="M4 21a2 2 0 0 1-2-2v-3.851c0-1.39 2-2.962 2-4.829V8a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v11a2 2 0 0 1-2 2z"
      />
      <path d="M9 7V4a1 1 0 0 0-1-1H6a1 1 0 0 0-1 1v3" />
    </svg>
    <h3 class="font-semibold p-4 font-sans text-slate-900 dark:text-white">
      Complete monitoring
    </h3>
    <p
      class="font-sans text-slate-900 px-5 text-center dark:text-white font-thin"
    >
      Monitor progress with real-time and notifivations
    </p>
  </div>
</section>

