<nav class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2"
  >
    <a
      href="#"
      class="flex items-center space-x-3 rtl:space-x-reverse"
      routerLink="/homePage"
    >
      <img
        src="https://flowbite.com/docs/images/logo.svg"
        class="h-8"
        alt="Flowbite Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >CENID</span
      >
    </a>
    <button
      type="submit"
      class="flex items-center self-center text-xl font-semibold whitespace-nowrap text-slate-900 hover:text-red-500 dark:text-white hover:dark:text-red-600 rounded-xl px-2"
      (click)="logOut()"
    >
      Logout
      <svg
        class="rtl:rotate-180 w-5 h-5 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </button>
  </div>
</nav>
